.changelog-container {
  display: grid !important;
  grid-template-columns: 33% 1fr;
  padding: 0 !important;

  section {
    padding: 0 !important;
    align-items: baseline;
    align-self: baseline;
  }

  .changelog-dates {
    position: relative;
    &-list {
      list-style: none;
      border-right: 1px solid red;
      height: 100vh;
      justify-items: center;

      li {
        padding: 4em 1em;
        &::after {
          content: "🧿";
          position: absolute;
          right: -10px;
        }
      }
    }
  }
}

.card {
  display: flex !important;
  flex-wrap: wrap;
  border: 0.01rem solid rgba(0, 0, 255, 0.2);
  min-width: 30vw;
  height: auto;
  padding: 1rem 1em;
  border-radius: 20px;
  margin: 1rem auto;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
  &-tag {
    font-size: small;
    background-color: #4b99e7;
    color: white;
    border-radius: 0.8rem;
    height: 20px;
    width: 65px;
    text-align: center;
    display: block;
  }
  p {
    width: 100%;
    padding: 0.2rem;
  }
}
